<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ゼニハウス</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">第４の銭家</h1><br>
      <h3 class="mb-5">
        <em>自由領域をありふれたものに</em>
      </h3>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <!-- Call to Action -->
  <section class="content-section ">
    <div class="container text-center">
      <h2 class="mb-4">( 熱狂できる仲間 + 田舎の健康生活 ) × 未来を作る科学技術<br>
        ー ( 人だらけによるストレス × 汚れた空気 × 自分以外にもできる仕事)<br>
        ＝ シェアハウス　銭４<br><br>
        やりたいこと<br>熱い仲間と恵まれた自然の中<br>健康的な生活をして学び面白いものを創り出す
        <br>
        <br>
        やりたくないこと<br>
        人混みの中で疲れ果てながら、AIでもできるつまらない仕事をすること<br><br>
使われていない廃校、廃ペンション、廃病院、施設などの箱物<br>
        息を呑む大自然の景色、空気・水が美味しい、人が優しい恵まれた環境<br>
        スパルタキャンプに集う、面白い人生にチャレンジしていく人<br>
自分の好きなこと面白いことに没頭できる材料が全てある<br><br>
自分の想像と妄想を全力で実現したい人の場
      </h2>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">♪</h3>
        <h2 class="mb-5">銭４メンバー</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
<img class="ProfileAvatar-image" src="https://pbs.twimg.com/profile_images/878039933088354304/pQ3IjCv2_400x400.jpg" alt="kuraishi📪">          </span>
          <h4>
            <strong>ダイスケ</strong>
          </h4>
          <p class="text-faded mb-0">南極捕鯨を生き延びた男</p><br>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img class="ProfileAvatar-image " src="https://files.slack.com/files-tmb/T3QEUJGUT-F9VJZL16G-cc405c15b2/ios_________________________________________1024.jpg">
          </span>
          <h4>
            <strong>きよ</strong>
          </h4>
          <p class="text-faded mb-0">ITひよこ革命の中心人物</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img class="ProfileAvatar-image " src="https://ca.slack-edge.com/T3QEUJGUT-U9H9XBJCQ-cfa69287906c-72">
          </span>
          <h4>
            <strong>しょーた</strong>
          </h4>
          <p class="text-faded mb-0">シロクマ核弾頭</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
<img class="ProfileAvatar-image " src="https://files.slack.com/files-tmb/T3QEUJGUT-F9R5FDM9P-1495864f79/_____________1024.png">
          </span>
          <h4>
            <strong>しゅうじ</strong>
          </h4>
          <p class="text-faded mb-0">心やさしき関西の起業ドラゴン</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <img class="ProfileAvatar-image " src="https://ca.slack-edge.com/T3QEUJGUT-U3PRG4BSL-c1d478baecdc-72">
          </span>
          <h4>
            <strong>神天使</strong>
          </h4>
          <p class="text-faded mb-0">メンバーのやすらぎの存在、<br>切り札でもある</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0"></h3>
        <h2 class="mb-5">銭４　部活紹介</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>ブロックチェーン部</h2>
                <p class="mb-0">未来の繋ぐ力　ブロックチェーンについて<br>学びプロダクト開発も行う</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/lightning.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>暗号通貨部</h2>
                <p class="mb-0">未来のお金　独自暗号通貨の研究、次世代の暗号通貨技術の開発・実験</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/kyoushitu.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>programming部</h2>
                <p class="mb-0">ruby on rails,python,Unity...etc,興味の向くまま様々な言語に触れていく。志民はスパルタ<br>キャンプに無条件で参加できる</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/camp.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>起業部</h2>
                <p class="mb-0">やりたいことをどんどん形にしていく　<br>学校建設、ベンチャー立ち上げ、狩猟<br>町おこし等々、田舎にある資産をどんどん<br>使って活動する</p>
              </span>
            </span>
            <img class="img-fluid" src="assets/doumu.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">恵まれた自然と<br>田舎のBlue Ocean<br>都会にはないこの余白に<br>描きたいモノがあるなら<br></h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/"> Join Now!</a>
    </div>
  </section>




  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24447.757329803135!2d140.96121035779672!3d40.00912513250871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDAwJzMyLjkiTiAxNDDCsDU4JzQzLjQiRQ!5e0!3m2!1sja!2sjp!4v1524495451958" width="600" height="450" frameborder="0" style="border:0" allowfullscreen"></iframe>
    <br/>
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2017</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
